
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap');

:root {
	--font1: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	--font2: "Sriracha", cursive;
	  
}

* {
	margin: 0px;
	padding: 0px;
}

/* Layuot */
html, body {
	min-height: 100%;
	overflow-x: hidden;
}

header h1 {
	font-family: var(--font1);
	padding: 20px;
	font-size: 3em;
	font-weight: 800;
	font-variant: small-caps;
	color: white;
}

/* Barra de Navegação */

nav.navbar-transparente {
	padding: 15px 0px 15px 15px;
	background: #000;
}

.navbar-light .navbar-nav .nav-link {
	color: white;
	padding: 10px;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #9bf0e1;
}

.navbar-link, p {
	color: white;
	text-decoration: none;
	font-weight: bolder;
}

.navbar-link:hover {
	text-decoration: none;
	color: white;
}

.externo::after {
    content:'\1F517';
}

.navbar-light .navbar-toggler {
	color: rgba(255, 255, 255, 0.5);
	border-color: rgba(255, 255, 255, 0.5);
	padding: 15px;
	margin: 20px;
}

.divisor {
	width: 1px;
	background: white;
	margin: 12px 15px;
}

.cor p {
	padding: 20px;
	color: white;
	font-size: larger;
}

/* Estrutura de Conteúdo */
section {
	font-family: var(--font2);
	font-size: 1.5em;
	padding-top: 10vh;
	padding-bottom: 10vh;
	padding-left: 30px;
	line-height: 2em;
}

section.normal {
	background-color: white;
	color: #000;
}

section.normal > p {
	padding-bottom: 2em;
	background-color: white;
	color: #000;
	padding: 20px;
}

section.imagem {
	background-color: #303030;
	color: white;
}

section.imagem > p {
	width: 400px;
	background-color: #0000007c;
	text-shadow: 1px 1px 0px black;
	padding: 20px;
	border-radius: 15px;
}

#img01 {
	background-image: url(../imagens/pergaminho.png);
	background-attachment: fixed;
	background-size: cover;
	background-position: right center;
}

#img02 {
	background-image: url(../imagens/pergaminho2.png);
	background-attachment: fixed;
	background-size: cover;
	background-position: right center;
}

/* Rodapé */
footer {
	background-color: #000;
	padding: 50px 20px 20px 20px;
	position: relative;
}

footer #media {
	display: flex;
	margin-left: -15px;
	padding-left: -0px;
}


footer .navbar-nav a {
	display: flex;
	color: white;
	font-size: 1em;
}

footer .navbar-nav a:hover {
	color: #9bf0e1;
	text-decoration: none;
}

footer ul {
	list-style: none;
}

footer ul li {
	float: right;
	margin: 0px 5px;
}

footer h4 {
	color: #919496;
	font-size: 1em;
	text-transform: uppercase;
}